ul{
  list-style: none;
  text-align: left;
  padding: 0px;
  margin: 0px;
  
}

a{
  text-decoration: none;
  font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.15px;

color: #EF5350;
}